{% block content %}

  {% if form.errors %}
    <p>Incorrect username or password.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Not authenticated, please login in with an authenticated user.</p>
    {% else %}
      <p>Please login.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <a href="/authentication/register/"><button type="button">Register</button></a>
    <input type="submit" value="Login" />
    <input type="hidden" name="next" value="{{ next }}" />

  </form>


{% endblock %}
