<html>
<header>
<title>Piazza</title>
</header>
<body>
Hello and Welcome to the Piazza!

{% if user.is_authenticated %}
<li>User: {{ user.get_username }}</li>
<li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
{% else %}
<li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
{% endif %} 

<a href="createpost/"><button type="button">Create a post</button></a>
<br>
<br>



<div class="post">
    <ul>
      {% for post in latest_post_list %}
      <div class= "individualPost" style="border: thin solid black">
      <div class="topPart"><p>ID:{{post.id}}  Category: {{post.topics}} by {{ post.poster }} at {{ post.timestamp }}<p></div>
      <section><div class="postTitle">{{ post.title }}</div>
        <p>{{post.body}}</p>
        {% for topic in post.topics.all %} <br/>{{topic.name}}<br/>{% endfor %}
        <div class="lowerPart"><p>Likes:{{post.likes}}  Dislikes:{{post.dislikes}}  Status:{{post.status}}  Expire time:{{ post.extimestamp }}<p></div>
        </section>
    </div>
    <br>
      {% endfor %}
    </ul>
  
  </div>

</body>
</html>
